<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    
  <connectionStrings>
      <add name="nw" connectionString="Server=CRISTI-PC\\MSSQLSERVER2012;&#xA;Database=Northwind;&#xA;Trusted_Connection=true;&#xA;MultipleActiveResultSets=True" />
      <add name="OLX.Properties.Settings.OLXConnectionString" connectionString="Data Source=.;Initial Catalog=OLX;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="OLX.Properties.Settings.OLXConnectionString1" connectionString="Data Source=DESKTOP-8NALO9A;Initial Catalog=OLX;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="OLX.Properties.Settings.OLXConnectionString2" connectionString="Data Source=desktop-8nalo9a;Initial Catalog=OLX;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="OLXEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-8nalo9a;initial catalog=OLX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="OLX.Properties.Settings.OLXConnectionString3" connectionString="Data Source=CRISTI-PC\MSSQLSERVER2012;Initial Catalog=OLX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />

      <connectionStrings>
        <add name="nw" connectionString="Server=CRISTI-PC\\MSSQLSERVER2012; Database=OLX; Trusted_Connection=true" />
      </connectionStrings>
    </startup>
</configuration>